.team-details {
    padding: 20px;
}
.team-logo {
    background: darkblue;
    padding: 20px;
    margin: 10px 20px!important;
    border-radius: 20px;
}
.team-logo img {
    height: 100px;
}
.team-card {
    text-align: left;
    color: floralwhite;
    display: grid;
    grid-template-columns: auto auto;
    background: darkblue;
    padding: 20px;
    margin: 20px!important;
    border-radius: 20px;
}
.team-card img {
    width: 100%;
}
.team-description .team-desc-img {
    width: 100%;
    border-radius: 5px;
    margin: 20px 0;
}
.team-description {
    padding: 20px;
    margin: 20px; 
}
.font-team {
    margin-right: 8px;
}
.team-description p {
    color: floralwhite;
    text-align: justify;
}

.team-details .icon-list a img {
    height: 50px;
    margin-top: 20px;
    
}

.team-details .icon-list a {
    color: aliceblue;
    padding: 10px;
}



@media only screen and (max-width: 768px) {
    .team-card {
        text-align: center;
    }
    .team-card img {
        width: 100%;
    }
  }